@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FlightHandler</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-default" href="/Flight/Index"> <h2>Ajouter un nouveau vol</h2> &raquo;</a>
        <a class="btn btn-default" href="/Flight/GetAllFlights"> <h2>Consulter tous les vols</h2> &raquo;</a>
    </div>
</div>